.hero-intro {
  .title {
    font-weight: normal;

    strong {
      font-weight: bold;
    }
  }

  .intro-buttons {
    padding-top: 1.5rem;
    text-align: center;
  }
}

#advanced {
  margin-top: 3rem;
}
