@import "../../../node_modules/bulma/sass/utilities/initial-variables";

$family-sans-serif: 'Titillium Web', sans-serif;
$navbar-item-img-max-height: 5rem;
$navbar-height: 7rem;

@import "../../../node_modules/bulma/bulma";

@import "navbar";
@import "hero-mascot";
@import "editor";
