@import "../../../node_modules/bulma/sass/utilities/initial-variables";

$family-sans-serif: 'Titillium Web', sans-serif;
$navbar-item-img-max-height: 5rem;
$navbar-height: 7rem;

@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/bulma-divider/src/sass/index";
@import "../../../node_modules/bulma-tooltip/src/sass/index";
@import "../../../node_modules/bulma-badge/src/sass/index";
@import "../../../node_modules/outdated-browser-rework/style";


@import "navbar";
@import "hero-mascot";
@import "hero-mascot";
@import "editor";
@import "embed";
@import "account";
@import "creations_list";
@import "home";
@import "preview";
@import "profile";
@import "contact";
