DJANGO_SECRET_KEY=qEpBa+IcGEMQZRV9HSNnt5fmAeoGjeIt+ENPjPHRhi2IjaAcNJ8wLUlMDsGXVM5rSYNXsfp8YZJBJzoyABk8tA==

# eg. postgres://user:password@localhost:5432/dbname
DJANGO_DATABASE_URL=

DJANGO_SETTINGS_MODULE=shrew.settings.dev

# See https://cloudconvert.com/api
DJANGO_CLOUDCONVERT_KEY=
