[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.*"
django-environ = "*"
"psycopg2" = "*"
django-compressor = "*"
django-compressor-toolkit = "*"
commonmark = "*"
django-markwhat = "*"
"django-admin-sortable2" = "*"
micawber = "*"
"beautifulsoup4" = "*"
django-allauth = "*"
django-widget-tweaks = "*"
django-bulma = "*"
django-simple-history = "*"
django-autoslug-iplweb = "*"
django-rest-framework = "*"
unidecode = "*"
cloudconvert = "*"
django-contact-form-recaptcha = "*"
django-recaptcha = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
