{% load static %}

<div class="columns is-mobile is-multiline">
  {% for creation in creations %}
    <div class="column is-one-fifth-desktop is-one-quarter-tablet is-half-mobile">
      <div class="creation-card card">
        <div class="card-image">
          <figure class="image is-square">
            <a href="{{ creation.get_absolute_url }}">
              <img src="{% url 'creations:svg-preview' slug=creation.slug user=creation.author.username %}?v={{ creation.last_modified|urlencode }}">
              {% if creation.is_animated %}
                <img class="play-icon" src="{% static 'images/play.svg' %}">
              {% endif %}
            </a>
          </figure>
        </div>
        <div class="card-header">
          <a class="card-header-title" href="{{ creation.get_absolute_url }}">{{ creation.name }}</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
