{% load static %}

<div class="columns is-mobile is-multiline">
  {% for creation in creations %}
    <div class="column is-one-fifth-desktop is-one-quarter-tablet is-half-mobile">
      <div class="creation-card card">
        <div class="card-image">
          <figure class="image is-square">
            <a href="{{ creation.get_absolute_url }}">
              <img src="{% url 'creations:svg-preview' slug=creation.slug user=creation.author.username %}?v={{ creation.last_modified|date:'U' }}">
              {% if creation.is_animated %}
                <img class="play-icon" src="{% static 'images/play.svg' %}">
              {% endif %}
            </a>
          </figure>
        </div>
        <div class="card-header">
          <a class="card-header-title" href="{{ creation.get_absolute_url }}">{{ creation.name }}</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% if creations.paginator and creations.paginator.num_pages > 1 %}
  <nav class="pagination" role="navigation" aria-label="pagination">
  <a {% if creations.has_previous %}href="?page={{ creations.previous_page_number }}"{% endif %} class="pagination-previous"
      {% if not creations.has_previous %}disabled{% endif %}>Previous</a>
  <a {% if creations.has_next %}href="?page={{ creations.next_page_number }}"{% endif %} class="pagination-next"
    {% if not creations.has_next %}disabled{% endif %}>Next page</a>
  <ul class="pagination-list">
    {% for page in creations.paginator.page_range %}
      <li>
        <a href="?page={{ page }}" class="{% if page == creations.number %}is-current{% endif %} pagination-link"
           aria-label="Goto page {{ page }}">{{ page }}</a>
      </li>
    {% endfor %}
  </ul>
  </nav>
{% endif %}
