{%  extends 'base.html' %}

{% block title %}{{ creation.name|default:"Unnamed" }} - {{ block.super }}{%  endblock %}

{% block content %}
  {% include "creations/_editor.html" %}
  <article class="message">
    <div class="message-body">
      <div id="code-output"></div>

      Don't know what to do? Don't worry!
      We prepared <a href="{% url 'pages:category-detail' slug='documentation' %}">detailed documentation</a>
      and <a href="{% url 'pages:category-detail' slug='lessons' %}">coding lessons</a> for you.
    </div>
  </article>
{% endblock %}

