{%  extends 'base.html' %}

{% block title %}{{ creation.name|default:"Unnamed" }} - {{ block.super }}{%  endblock %}

{% block content %}
  {% include "creations/_editor.html" %}
  <article class="message">
    <div class="message-body">
      <div id="code-output"></div>

      <strong>Don't know what to do?</strong> Don't worry, we can help!<br>

        Learn about:
        <a href="/documentation/shapes/" target="_blank">shapes</a>,
        <a href="/documentation/icons/" target="_blank">icons</a>,
        <a href="/documentation/colors/" target="_blank">colors</a>,
        <a href="/documentation/animations/" target="_blank">animations</a>, and
        <a href="{% url 'pages:category-detail' slug='lessons' %}" target="_blank">learning Python</a>.
    </div>
  </article>
{% endblock %}

