{%  extends 'base.html' %}

{% block content %}
  <article class="message is-info">
    <div class="message-header">
      <p>Welcome to Code Shrew!</p>
    </div>
    <div class="message-body content">
      <p>
        Code Shrew is a platform for <strong>learning and practicing basic concepts of programming</strong>.
        In its heart is a programming environment where you can <strong>play with code by creating drawings and animations</strong> using a simple Python-like syntax.
        It will be accompanied by an <strong>interactive course</strong> presenting a variety of fundamental programming concepts using the environment.
      </p>

      <p>
        The site will soon have much more features (including saving and sharing created drawings and animations).
        For now, we would like you to take a look at <a href="{% url 'editor' %}">the interactive editor</a> and a preliminary version of the <a href="{% url 'pages:category-detail' slug='lessons' %}">lessons</a>.
      </p>

      <p>
        Mostly we want you to have fun. Please, don't leave the site before creating at least couple of animations!
        You may want to read through <a href="{% url 'pages:category-detail' slug='documentation' %}">the documentation</a> first, to see what's possible.
        You might also get inspired by some of <a href="#samples">the samples</a> that we included below.
      </p>

      <p>
        We are very interested in your feedback! Please, share with us any suggestions or ideas about Code Shrew that you might have.
        They might be about the interactive editor (i.e., the tool for drawing / animating with code), the lessons, or the general concept of the site.
        Bug reports would also be very appreciated. The thing that we would especially like to see is your creations - source code of drawings and animations that you've made with the site.
        Please share them with us!
      </p>

      <p>
        But first and foremost let us know: was playing with the site any fun? :)
      </p>
    </div>
  </article>

  <h1 class="title is-2" id="samples">Interactive Samples</h1>
  {% if drawings %}
    <h2 class="title is-3">Drawings</h2>
    {% include 'creations/_samples.html' with samples=drawings %}
  {% endif %}

  {% if animations %}
    <h2 class="title is-3">Animations</h2>
    {% include 'creations/_samples.html' with samples=drawings %}
  {% endif %}
{% endblock %}
