{%  extends 'base.html' %}

{% block before_main_section %}
<section class="hero hero-intro is-primary is-bold">
  <div class="hero-body columns">
    <div class="container column">
      <p class="title">
        With <strong>Code Shrew</strong> you will learn programming basics by creating fun <strong>drawings</strong> and <strong>animations</strong>.
      </p>
      <p class="title">
        Start <strong>playing with code</strong> right now!
      </p>
      <div class="intro-buttons">
        <div>
          <a href="{% url 'pages:category-detail' slug='lessons' %}" class="button is-light is-medium">
            <strong>Learn&nbsp;</strong> programming from our lessons
          </a>
        </div>
        <div>or</div>
        <div>
          <a href="{% url 'editor' %}" class="button is-light is-medium is-outlined">
            <strong>Create&nbsp;</strong> a new animation now!
          </a>
        </div>
      </div>
    </div>
    <div class="column video-outer is-two-fifths">
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/Z7o9pbPHu0k" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
  <h1 class="title is-2" id="samples">Latest featured drawings & animations</h1>
    {% include 'creations/_creations_list.html' with creations=featured %}
{% endblock %}
