{% load compress %}
{% load static %}

<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <title>Code Shrew Interpreter</title>
    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/sandbox.scss' %}">
    {% endcompress %}
  </head>
  <body>
    <div id="drawing"></div>

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    {% compress js %}
      <script type="skulpt-module" src="{% static 'skulpt-modules/shrew.py' %}"></script>
      <script type="skulpt-module-es6" src="{% static 'skulpt-modules/icons.js' %}"></script>
      <script type="module" src="{% static 'js/interpreter-sandbox.js' %}"></script>
    {% endcompress %}
  </body>
</html>
