{% extends "account/base.html" %}

{% load i18n %}
{% load bulma_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h2 class="title is-5 has-text-centered">{% trans "Change Password" %}</h2>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
  {% csrf_token %}
  {{ form|bulma }}
  <div class="field is-grouped">
    <div class="control">
      <button type="submit" class="button is-success">{% trans "Change Password" %}</button>
    </div>
    <div class="control">
      <a class="button is-text" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
  </div>
</form>
{% endblock %}
