{% extends "account/base.html" %}

{% load i18n %}
{% load bulma_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<h2 class="title is-5 has-text-centered">{% trans "Set Password" %}</h2>

<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
  {% csrf_token %}
  {{ form|bulma }}
  <div class="field">
    <div class="control">
      <button type="submit" class="button is-success">{% trans "Set Password" %}</button>
    </div>
  </div>
</form>
{% endblock %}
