{%  extends 'base.html' %}
{% load static %}
{% load bulma_tags %}

{% block title %}About us - {{ block.super }}{%  endblock %}

{% block bodyclass %}about{% endblock %}

{% block content %}
  <div class="columns">
    <div class="column is-half">
      <div class="content">
        <h1>About Code Shrew</h1>

        <p>
          Code Shrew is a platform for <strong>learning and practicing basic concepts of programming</strong>.
          It enables people to create fun <strong>drawings and animations</strong> using computer code.
          It has a simple Python-like syntax and is designed to teach modern <strong>object-oriented programing</strong> techniques: one draws by creating objects and animates by changing their properties.
          This way, the resulting animations, while fantastic in their own right, can also be seen as intuitive <strong>real-time visualizations</strong> of the code's logic.
        </p>

        <p>
          The software is accompanied by <strong>a course</strong> using the platform to present a set of fundamental programming concepts.
          Each lesson is based around a <strong>single central idea</strong> which is presented in a <strong>video</strong>, expanded in a <strong>text form</strong>, and then reinforced by <strong>interactive examples</strong>, which students can play with freely.
          We subscribe to the <strong>constructionist learning theory</strong>. We want to give students the necessary tools to realize <strong>their own creative ideas</strong>, instead of forcing them to follow predefined paths.
        </p>

        <p>
          <strong>Ludwik Trammer</strong> built the tool and the site, and <strong>Jamie Nunez</strong> created the lessons and challenges. We started the site as a project for a graduate class at Georgia Tech - <strong>cs6460 Educational Technology</strong>.
          If you want to know more, you can <a href="https://arxiv.org/abs/1808.01100">read our paper about Code Shrew</a>.
        </p>

        <h2>Technology</h2>
        <p>We proudly use the following technologies (and many others):</p>
        <ul>
          <li><a href="https://www.djangoproject.com/">Django</a> (<a href="https://www.python.org/">Python 3</a>) - the server-side framework,</li>
          <li><a href="https://www.postgresql.org/">PostgreSQL</a> - the database,</li>
          <li><a href="https://bulma.io/">Bulma</a> - the CSS framework,</li>
          <li><a href="http://www.skulpt.org/">Skulpt</a> - the in-browser Python interpreter,</li>
          <li><a href="http://svgjs.com/">svg.js</a> - the graphics library,</li>
          <li><a href="https://fontawesome.com/">Font Awesome</a> - the icons (both on the site and in the <a href="{% url 'pages:page-detail' slug='icons' category_slug='documentation' %}">icons module</a>),</li>
          <li><a href="https://codemirror.net/">Code Mirror</a> - the code editor widget,</li>
          <li><a href="https://www.cloudflare.com/">Cloud Flare</a> - the CDN and caching provider,</li>
        </ul>
      </div>
    </div>
    <div class="is-divider-vertical"></div>
    <div class="column">
      <h2 class="title is-size-3">Contact Us</h2>
      <form method="post" action="{% url 'contact_form' %}">
        {% csrf_token %}
        {{ contact_form|bulma }}
        <button type="submit" class="button is-primary">Send message</button>
      </form>
    </div>
  </div>
{% endblock %}
