{% load compress %}
{% load static %}

<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121698053-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121698053-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
    <title>Code Shrew</title>
    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/main.scss' %}">
    {% endcompress %}
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/solid.css" integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">
  </head>
  <body>
  <nav class="navbar has-shadow is-fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item logo" href="/">
          <img src="{% static 'images/logo.svg' %}" alt="Code Shrew" height="100%">
        </a>
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <a class="navbar-item" href="{% url 'pages:category-detail' slug='lessons' %}">
            Lessons
          </a>
          <a class="navbar-item" href="{% url 'pages:category-detail' slug='documentation' %}">
            Documentation
          </a>
          <a class="navbar-item" href="{% url 'pages:page-detail' slug='about' %}">
            About
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="button is-primary is-medium" href="{% url 'editor' %}">
              <span class="icon">
                <i class="fas fa-paint-brush"></i>
              </span>
              <span>Create new</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="section">
    <div class="container">
      {% block content %}{%  endblock %}
    </div>
  </section>

  {% compress js %}
    <script type="module" src="{% static 'js/editor.js' %}"></script>
    <script type="module" src="{% static 'js/navbar.js' %}"></script>
  {% endcompress %}
  </body>
</html>
