{% load compress %}
{% load static %}
{% load bulma_tags %}

<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121698053-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121698053-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="With Code Shrew you will learn programming basics by creating fun drawings and animations. Start playing with code now!">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
    <title>{% block title %}Code Shrew{%  endblock %}</title>
    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/main.scss' %}">
    {% endcompress %}
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/solid.css" integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/brands.css" integrity="sha384-7xAnn7Zm3QC1jFjVc1A6v/toepoG3JXboQYzbM0jrPzou9OFXm/fY6Z/XiIebl/k" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">
    {% block extrahead %}{% endblock %}
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
  <nav class="navbar has-shadow is-fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item logo" href="/">
          <img src="{% static 'images/logo.svg' %}" alt="Code Shrew" height="100%">
        </a>
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <a class="navbar-item" href="{% url 'pages:category-detail' slug='lessons' %}">
            Lessons
          </a>
          <a class="navbar-item" href="{% url 'pages:category-detail' slug='documentation' %}">
            Documentation
          </a>
          <a class="navbar-item" href="{% url 'pages:page-detail' slug='about' %}">
            About
          </a>
          <a class="navbar-item" href="{% url 'contact_form' %}">
            Contact
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="button is-primary is-medium" href="{% url 'editor' %}">
              <span class="icon">
                <i class="fas fa-paint-brush"></i>
              </span>
              <span>Create new</span>
            </a>
          </div>
          {% if not request.user.is_authenticated %}
            <div class="navbar-item">
              <a class="button is-light is-medium" href="{% url 'account_login' %}?next={{request.path}}">
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>Sign up or log in</span>
              </a>
            </div>
          {% else %}
            <div class="navbar-item">
              <a href="{% url 'creations:user-profile' user=request.user.username %}" class="button is-light is-medium is-hidden-desktop">
                <span class="icon">
                  <i class="fas fa-user"></i>
                </span>
                <span>My profile</span>
              </a>
              <div class="dropdown is-hoverable is-hidden-touch">
                <div class="dropdown-trigger">
                  <button class="button is-medium is-light" aria-haspopup="true" aria-controls="account-menu">
                    <span class="icon">
                      <i class="fas fa-user-circle"></i>
                    </span>
                    <span>{{ request.user }}</span>
                    <span class="icon">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="account-menu" role="menu">
                  <div class="dropdown-content">
                    <a href="{% url 'creations:user-profile' user=request.user.username %}" class="dropdown-item">
                      <span class="icon">
                        <i class="fas fa-user" aria-hidden="true"></i>
                      </span>
                      <span>
                        Public profile
                      </span>
                    </a>
                    {% if request.user.is_staff %}
                      <a href="/admin/" class="dropdown-item">
                        <span class="icon">
                          <i class="fas fa-cogs" aria-hidden="true"></i>
                        </span>
                        <span>
                          Admin panel
                        </span>
                      </a>
                    {% endif %}
                    <form method="post" action="{% url 'account_logout' %}?next={{request.path}}">
                      {% csrf_token %}
                      <button type="submit" class="dropdown-item">
                        <span class="icon">
                          <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                        </span>
                        <span>
                          Log out
                        </span>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  {% block before_main_section %}{% endblock %}
  <section class="section">
    <div class="container">
      {% for message in messages %}
        <div class="notification {% if message.tags %}is-{{ message.tags|bulma_message_tag }}{% endif %}">
          <button class="delete"></button>
          {{ message }}
        </div>
      {% endfor %}
      {% block content %}{%  endblock %}
    </div>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <i class="fas fa-copyright"></i> Code Shrew 2018<br>
        The site was created by <a href="https://ludwik.trammer.pl">Ludwik Trammer</a> and the lessons were designed by Jamie Nunez.<br>
        See our <a href="{% url 'pages:page-detail' slug='terms' %}">Terms of Use</a> and <a href="{% url 'pages:page-detail' slug='privacy' %}">Privacy Policy</a>.
        We <a href="{% url 'pages:page-detail' slug='cookies' %}">use cookies</a>. We <i class="fas fa-heart"></i> <a href="{% url 'contact_form' %}">feedback</a>.
      </p>
    </div>
  </footer>

  {% compress js %}
    <script type="module" src="{% static 'js/editor.js' %}"></script>
    <script type="module" src="{% static 'js/preview.js' %}"></script>
    <script type="module" src="{% static 'js/navbar.js' %}"></script>
    <script type="module" src="{% static 'js/messages.js' %}"></script>
  {% endcompress %}
  </body>
</html>
