{%  extends 'base.html' %}

{% block content %}
  <div class="columns">
    <div class="column is-two-thirds">
      <div class="field">
        <textarea class="textarea" id="editor-code">from icons import Heart

heart = Heart(width=60, height=60, color='violet')

rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
for color in rainbow:
    with animation(duration=1.5):
        heart.color = color
        heart.width = 70
        heart.height = 70

    with animation(duration=0.3):
        heart.width = 60
        heart.height = 60</textarea>
      </div>
      <div id="code-output"></div>
    </div>
    <div class="column">
      <div class="sandbox-wrapper">
        <iframe id="interpreter-sandbox" scrolling="no" src="{% url 'creations:interpreter-sandbox' %}"
            sandbox="allow-scripts"></iframe>
      </div>
    </div>
  </div>

{% endblock %}
