{%  extends 'base.html' %}

{% block content %}
  <div class="columns">
    <div class="column is-two-thirds">
      <div class="field">
        <textarea class="textarea" id="editor-code">Square(color='pink')
blue_circle = Circle(width=90, height=90, color='blue', x=-10, y=-10)
yellow_circle = Circle(width=90, height=90, color='yellow', x=20, y=20)
yellow_circle.transparency = 10
hello = Text(text="Hello World", y=78, x=10)
hello.rotation = -5

# Text shadow
hello_shadow = hello.copy(transparency=80)
hello_shadow.x -= 1
hello_shadow.y -= 1</textarea>
      </div>
      <div class="field">
        <button class="button is-primary" id="editor-run">
          <span class="icon is-small">
            <i class="fas fa-play"></i>
          </span>
          <span>Run code</span>
        </button>
      </div>
      <div id="code-output"></div>
    </div>
    <div class="column">
      <div class="sandbox-wrapper">
        <iframe id="interpreter-sandbox" src="{% url 'creations:interpreter-sandbox' %}"
            sandbox="allow-scripts"></iframe>
      </div>
    </div>
  </div>

{% endblock %}
