{% extends "account/base.html" %}

{% load bulma_tags %}

{% block content %}
  <h1 class="title is-size-1">Almost done...</h1>
  <p class="content">
    You are about to use your {{ account.get_provider.name }} account to login to Code Shrew.
    As a final step, we just need a little bit more information:
  </p>

  <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}
    {{ form|bulma }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="button is-primary">Sign Up</button>
  </form>
{% endblock %}
